.avatar {
    width: $avatar-size;
    height: $avatar-size;
    overflow: hidden;
    border-radius: 100%;
}

.avatar-size-sm{
    width: $avatar-size-sm;
    height: $avatar-size-sm;
    overflow: hidden;
    border-radius: 100%;
}