.main-center {
  padding-left: 340px;
  padding-right: 300px;

  .breadcrumb {
    background-color: $gray-950;
    
    .breadcrumb-item {
      a {
        color: $orange-500;
        text-decoration: none;
      }
    }
    li {
      color: $orange-500;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: $orange-500;
    content: '>';
  }
.card-post{
  border: 0;

}
  #myText{
    width: 100%;
    border: 0;

    &:focus{
      outline: none;
    }
  }

}
@media (max-width: 1150px) {
  .main-center {
    padding-left: 0px;
    padding-right: 0px;
  }
}
