.main-center {
  padding-left: 340px;
  padding-right: 300px;

  //---------------------แจ้งเตือนบน navbar-----------------------
  .breadcrumb {
    background-color: $gray-950;
    
    .breadcrumb-item {
      a {
        color: $orange-500;
        text-decoration: none;
      }
    }
    li {
      color: $orange-500;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: $orange-500;
    content: '>';
  }
  //---------------------แจ้งเตือนบน navbar-----------------------


  //---------------------------post-content---------------------
.card-post{
  border: 0;

}
  #myText{
    width: 100%;
    border: 0;

    &:focus{
      outline: none;
    }
  }

  .form-control{
    
    &:focus{
      box-shadow: 0 0 0 0.0rem #D0D6DC;
    }
  }
  //---------------------------post-content---------------------


       //------------------------upload-img-------------
       input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        cursor: pointer;
        width: 200px;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;

        img {
            width: 106px;
            height: 100px;
        }
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

    .remove:hover {
        background: white;
        color: black;
    }

       //------------------------upload-img-------------

}
@media (max-width: 1150px) {
  .main-center {
    padding-left: 0px;
    padding-right: 0px;
  }
}
