.sidebar {
  margin-top: 50px;
  display: none;
  width: 240px;
  color: black;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: $white;
  a{
    text-decoration: none ;
  }
  &.sidebar-sm {
    width: 100px;
    left: 0;

    .section-user {
      width: 100px;
      flex-direction: column;

      .menu-user {

        .menu-item {
          width: 100px;
          height: 60px;

          .group-link {
            text-decoration: none;
          }
          &:hover{
            background-color: #F8F9FA;
          }
          &:hover::after {
            background-color: #d1a18a;
            position: absolute;
            content: "";
            top: -1px;
            bottom: -1px;
            right: 0;
            width: 3px;
          }
          &.active {
            background-color: #fdeee7;
            span {
              color: #fb5b05 !important;
            }
          }
        }
      }
    }
    //-----menu-admin----//
    .menu-item {
      bottom: 0;
      width: 100px;

      .group-link {
        text-decoration: none;
      }
    }
    //-----menu-admin----//
  }

  &.sidebar-m {
    margin-left: 100px;
  }

  &.sidebar-lg {
    width: 300px;
    right: 0;
    .container {
      .menu-item-right {
        font-size: 25px;
      }
      .title-menu-r{
        white-space: nowrap;
        color: black;
        width: 50px; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }
      .title-item-file{
        color: $gray-600;
      }
      .item-right{
        width: 25%;
      }
      .link-item-right{
        color: black;
      }
      .card-img-top{
        height: 50px;
      }
    }

  }
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}
@media (max-width: 1150px) {
  .sidebar {
    display: none;
  }
}
